# pip in install numpy, panda
# import the library

In [1]:
import pandas as pd
import numpy as np

READ DATA INTO NOTEBOOK

In [17]:
product = pd.read_csv("2022_02_08-02_30_31_AM.csv")

CHECK THE HEAD OF THE DATA

In [3]:
product.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

CHECK THE DESCRIPTION AND INFO OF THE DATA

In [4]:
product.describe()

,uuid,price_string,price_string_unf,product_type,level_1,category
count,11764550,4721109,265799,11755974,11721664,11755974
unique,1374,248,26,321,595,13
top,bcfcacea-ff2b-487f-a681-7e0324938a2b,$0.00,$6.75,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
freq,8682,205586,25719,171470,77050,3351072

In [5]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11764550 entries, 0 to 11764549
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 538.5+ MB

In [6]:
product['price_string'].value_counts()

$0.00     205586
$89       102810
$9.99      85583
$3.99      77255
$38.00     68635
           ...
$499        8509
$339        8506
$16.00      8496
$229        8496
$68         8463
Name: price_string, Length: 248, dtype: int64

# TASK1
PRODUCT WITHOUT PRICE

In [7]:
product[product['price_string'].isnull()]

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
11764544,4f68393e-b5a7-41a5-a533-6d61ab9088fb,NaN,NaN,Q29mZmVlIEJlYW5z,TWVkaXVtIFJvYXN0,Z3JvY2VyaWVz
11764546,dc443860-47b7-482f-aee5-15e4b7238cb7,NaN,NaN,UGV0IERlbnRhbCBjYXJl,RG9nIERlbnRhbCBTdGlja3M,cGV0IHN1cHBsaWVz
11764547,9992453e-8fbf-4c26-8e14-0a0b6dbad801,NaN,NaN,U3VyZiBzdWl0cw,V29tZW5zIHN1cmYgc3VpdA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
11764548,084a8937-9877-4290-a3b0-4463a5fe707e,NaN,NaN,T3JnYW5pYyBCYWJ5IEZvb2Q,UGxhbnQgYmFzZWQgYmFieSBmb3JtdWxh,QmFieWNhcmU
11764549,a,NaN,NaN,NaN,NaN,NaN

In [8]:
product[product['price_string'].isnull()].count()

uuid                7043441
price_string              0
price_string_unf      60095
product_type        7034865
level_1             7009089
category            7034865
dtype: int64

# TASK 2 
COUNT OF PRUDUCTS WITHOUT PRICE AND WITH PRICE IN EACH PRODUCT TYPE, CATEGORY, LEVEL1

COUNT OF PRUDUCTS WITHOUT PRICE IN PRODUCT TYPE

In [9]:
product[product['price_string'].isnull()]['product_type'].count()

7034865

COUNT OF PRUDUCTS  WITH PRICE PRODUCT TYPE

In [10]:
product[product['price_string'].notnull()]['product_type'].count()

4721109

COUNT OF PRUDUCTS WITHOUT PRICE IN CATEGORY

In [11]:
product[product['price_string'].isnull()]['category'].count()

7034865

COUNT OF PRUDUCTS WITH PRICE IN CATEGORY

In [12]:
product[product['price_string'].notnull()]['category'].count()

4721109

COUNT OF PRUDUCTS WITHOUT PRICE IN LEVEL 1

In [13]:
product[product['price_string'].isnull()]['level_1'].count()

7009089

COUNT OF PRUDUCTS WITHOUT PRICE IN LEVEL 1

In [14]:
product[product['price_string'].notnull()]['level_1'].count()

4712575

# TASK3
Correct Product Prices in the correct format (eg: $56) wherever possible and separate them into currency and value columns.

FILLING NULL VALUES WITH $0 PRICE

In [18]:
product['price_string']= np.where(product['price_string'].isnull(), "$0.00", product['price_string'])

In [19]:
product

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,$0.00,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw
...,...,...,...,...,...,...
11764545,72efdfa0-2645-4ef8-b5a7-d89a1345d386,$14.00,NaN,ZGVvZG9yYW50cyBmb3IgbWVu,ZGVvZG9yYW50IFN0aWNr,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
11764546,dc443860-47b7-482f-aee5-15e4b7238cb7,$0.00,NaN,UGV0IERlbnRhbCBjYXJl,RG9nIERlbnRhbCBTdGlja3M,cGV0IHN1cHBsaWVz
11764547,9992453e-8fbf-4c26-8e14-0a0b6dbad801,$0.00,NaN,U3VyZiBzdWl0cw,V29tZW5zIHN1cmYgc3VpdA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
11764548,084a8937-9877-4290-a3b0-4463a5fe707e,$0.00,NaN,T3JnYW5pYyBCYWJ5IEZvb2Q,UGxhbnQgYmFzZWQgYmFieSBmb3JtdWxh,QmFieWNhcmU
11764549,a,$0.00,NaN,NaN,NaN,NaN

DEFINING A FUNCTION TO CORRECT PRODUCT PRICE IN THE CORRECT FORMAT

In [21]:
def check(x):
    if "$" in x:
        return x
    else:
        return "$"+x

In [22]:
product['price_string']= product['price_string'].apply(check)

In [23]:
product

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,$0.00,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,$11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw
...,...,...,...,...,...,...
11764545,72efdfa0-2645-4ef8-b5a7-d89a1345d386,$14.00,NaN,ZGVvZG9yYW50cyBmb3IgbWVu,ZGVvZG9yYW50IFN0aWNr,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
11764546,dc443860-47b7-482f-aee5-15e4b7238cb7,$0.00,NaN,UGV0IERlbnRhbCBjYXJl,RG9nIERlbnRhbCBTdGlja3M,cGV0IHN1cHBsaWVz
11764547,9992453e-8fbf-4c26-8e14-0a0b6dbad801,$0.00,NaN,U3VyZiBzdWl0cw,V29tZW5zIHN1cmYgc3VpdA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
11764548,084a8937-9877-4290-a3b0-4463a5fe707e,$0.00,NaN,T3JnYW5pYyBCYWJ5IEZvb2Q,UGxhbnQgYmFzZWQgYmFieSBmb3JtdWxh,QmFieWNhcmU
11764549,a,$0.00,NaN,NaN,NaN,NaN

SEPERATING THE PRICE COLUMN INTO CURRENCY AND VALUE COLUMNS

In [24]:
product['currency']=product['price_string'].apply(lambda x: x[0] )
product['value']=product['price_string'].apply(lambda x: x[1:] )

In [25]:
product

,uuid,price_string,price_string_unf,product_type,level_1,category,currency,value
0,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M,$,0.00
1,ab313969-02cc-48b2-9daf-0054efb70b92,$0.00,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw,$,0.00
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,$,19.95
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,92.00
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,$11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,$,11.50
...,...,...,...,...,...,...,...,...
11764545,72efdfa0-2645-4ef8-b5a7-d89a1345d386,$14.00,NaN,ZGVvZG9yYW50cyBmb3IgbWVu,ZGVvZG9yYW50IFN0aWNr,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,14.00
11764546,dc443860-47b7-482f-aee5-15e4b7238cb7,$0.00,NaN,UGV0IERlbnRhbCBjYXJl,RG9nIERlbnRhbCBTdGlja3M,cGV0IHN1cHBsaWVz,$,0.00
11764547,9992453e-8fbf-4c26-8e14-0a0b6dbad801,$0.00,NaN,U3VyZiBzdWl0cw,V29tZW5zIHN1cmYgc3VpdA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,0.00
11764548,084a8937-9877-4290-a3b0-4463a5fe707e,$0.00,NaN,T3JnYW5pYyBCYWJ5IEZvb2Q,UGxhbnQgYmFzZWQgYmFieSBmb3JtdWxh,QmFieWNhcmU,$,0.00
11764549,a,$0.00,NaN,NaN,NaN,NaN,$,0.00

# TASK4
 List out the categories with average price of product.

AVERAGE PRICE OF PRODUCT

In [32]:
product['value'] = pd.to_numeric(product['value'])

In [40]:
average_price_of_product = product['value'].mean()

In [42]:
product[product['value'] >= average_price_of_product]

,uuid,price_string,price_string_unf,product_type,level_1,category,currency,value
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,92.00
7,35799087-f6f4-4ca2-abfe-cbb5c27d2f1a,$148.00,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFJlZ3VsYXIvQ2FzdWFsIFBhbnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,148.00
8,9b3f553e-ee4c-4e1c-822e-c8c6c1b7f02a,$89,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFRpZ2h0cw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,89.00
10,bc4a0598-1910-4813-93eb-e5d91034536c,$55.00,NaN,Q2FyZHN0b2Nrcw,Q2FyZHM,QXJ0IHN1cHBsaWVz,$,55.00
11,955f5ee8-e152-44b6-ba70-3e79bc0dd975,$32.99,NaN,Rm9vZCBTdG9yYWdl,Rm9vZCBDb250YWluZXI,a2l0Y2hpbmcgYW5kIGRpbmluZw,$,32.99
...,...,...,...,...,...,...,...,...
11764514,9394627e-da22-46c5-8f2c-92334ead1b3d,$79,NaN,TWVucyBzd2ltd2Vhcg,VHJ1bmtzLyBTd2ltIHNob3J0cw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,79.00
11764515,a71c06cc-3530-44d9-8260-9e8a1632abfb,$118.00,NaN,V29tZW5zIFNob3VsZGVyIGJhZw,U2hvdWxkZXIgYmFn,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,118.00
11764529,9f0d9dd8-b689-4c5d-9b85-afdc5f996f05,$48.00,NaN,RmFjZSBtYWtlIHVw,Rm91bmRhdGlvbg,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,48.00
11764531,9f628d16-b0fc-470b-b8de-3be83f1965d4,$59,NaN,d29tZW5zIHN3ZWF0ZXJz,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,59.00
11764536,7731f740-e965-4f35-923d-80b176acfa29,$75.00,NaN,V2ludGVyIEFjY2Vzc29yaWVz,R2xvdmVzL01pdHRlbnM,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,$,75.00